<div *ngIf="!registerMode" class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Find your match</h1>
    <p class="col-md-8 fs-4">
      Come on in to view your matches.. all you need to do is sign up!
    </p>
    <button
      class="btn btn-primary btn-lg"
      (click)="registerToggle()"
      type="button"
    >
      Register
    </button>
    <button class="btn btn-outline-secondary btn-lg" type="button">
      Learn more
    </button>
  </div>
</div>

<div *ngIf="registerMode" class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register
        (cancelRegister)="cancelRegisterMode($event)"
      ></app-register>
    </div>
  </div>
</div>
