<div class="card">
  <div class="card-header">
    <h4 class="card-title">Sign up</h4>
  </div>
  <div class="card-content">
    <div class="card-body">
      <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Username"
            [(ngModel)]="model.username"
          />
        </div>
        <div class="form-group mb-2">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="password"
            [(ngModel)]="model.password"
          />
        </div>
        <button type="submit" class="btn btn-primary mr-2">
          <i class="ft-check-square mr-1"></i>Register
        </button>
        <button type="button" (click)="cancel()" class="btn btn-secondary">
          <i class="ft-x mr-1"></i>Cancel
        </button>
      </form>
    </div>
  </div>
</div>
